
@media only screen and (max-width: 800px) {
    .dashboard {
        grid-template-areas: "t t t"
                             "m m c"
                             "p p p"
                             "w l l"
                             "g g g";
        grid-template-rows: 100px 200px 200px 100px 300px;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1rem;
        height: 95%;
    }
}

@media only screen and (max-width: 400px) {
    .dashboard {
        grid-template-areas: "t t"
                             "m c"
                             "w l"
                             "p p"
                             "g g";
        grid-template-rows: 100px 175px 175px 75px 225px;
        padding: 1rem;
        height: 95%;
    }
}